@model Pizzashop.Entity.ViewModel.UserVM;
@{
    ViewData["Title"] = "Add User";
}
<!-- TITLE  -->
<div class="title d-flex flex-wrap justify-content-between align-items-center mb-2">
    <h1 class="text-header mb-2">Add New User</h1>
    <div>

        <a asp-action="Index" class="btn py-2 border-primary text-header d-flex align-items-center gap-2 "><span
                class="fw-bold ">&lt; </span>Back</a>
    </div>
</div>

<!-- Form  -->
<form asp-action="Add" method="post" enctype="multipart/form-data" class="container-fluid bg-light py-3  shadow-lg ">
    <input type="hidden" asp-for="ProfileImage">
    <div class="row ">
        <div class="col-md mb-3">
            <div class="form-floating ">
                <input asp-for="FirstName" class="form-control" id="firstname" placeholder="First Name">
                <label asp-for="FirstName">First Name*</label>
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md mb-3">
            <div class="form-floating ">
                <input asp-for="LastName" class="form-control" placeholder="Last Name">
                <label asp-for="LastName">Last Name*</label>
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-3">
            <div class="form-floating ">
                <input asp-for="UserName" class="form-control" placeholder="UserName">
                <label asp-for="UserName">User Name*</label>
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="col-md mb-3">
            <div class="form-floating ">
                <select asp-for="RoleId" class="form-select" asp-items="@ViewBag.Roles"
                    aria-label="Floating label select example">
                    <option disabled selected>Select Role</option>
                </select>
                <label asp-for="Role">Role*</label>
            </div>
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md mb-3">
            <div class="form-floating ">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <label asp-for="Email">Email*</label>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md mb-3">
            <div class="input-group">
                <div class="form-floating">
                    <input type="password" asp-for="Password" class="form-control" id="password"
                        onpaste="return false;" placeholder="Password">
                    <label asp-for="Password">Password*</label>
                </div>
                <span class="input-group-text eye bg-transparent" role="button"><img src="~/images/icons/eye.svg" width="20px"></span>
                <span class="input-group-text d-none eye bg-transparent" role="button"><img src="~/images/icons/eye-on.svg"
                        width="20px"></span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class=" col">
            <div class="mb-2 ">
                <label role="button" for="formFile" id="preview"
                    class="form-label d-flex justify-content-center gap-2 align-items-center border-dashed p-5 rounded-2 position-relative">
                    <button class="btn btn-close position-absolute end-0 top-0 d-none" type="button"></button>
                    <img src="~/images/icons/upload-files.svg"/><span>Drag And Drop Or Browse Files</span></label>
                <input class="form-control d-none" name="imageFile" accept=".jpg, .jpeg, .png" type="file" id="formFile">
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md mb-3">
            <div class="form-floating ">
                <select asp-for="CountryId" id="country" asp-items="@ViewBag.Countries" role="button"
                    class="form-select" required>
                    <option disabled selected>Please select one</option>
                </select>
                <label asp-for="CountryId">Country*</label>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="form-floating ">
                <select asp-for="StateId" asp-items="@ViewBag.States" id="state" role="button" class="form-select"
                    required>
                    <option disabled selected>Please select one</option>
                </select>
                <label asp-for="StateId">State*</label>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md mb-3">
            <div class="form-floating ">
                <select asp-for="CityId" asp-items="@ViewBag.Cities" id="city" role="button" class="form-select"
                    required>
                    <option disabled selected>Please select one</option>
                </select>
                <label asp-for="CityId">City*</label>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md mb-3">
            <div class="form-floating ">
                <input type="text" maxlength="12" minlength="4" class="form-control" asp-for="Zipcode"
                    placeholder="Zipcode">
                <label asp-for="Zipcode">Zipcode</label>
            </div>
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>
        <div class="col-md mb-3">
            <div class="form-floating ">
                <textarea asp-for="Address" class="form-control" placeholder="Email"></textarea>
                <label asp-for="Address">Address</label>
            </div>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="col-md mb-3">
            <div class="form-floating ">
                <input type="text" asp-for="Phone" class="form-control" placeholder="Phone">
                <label asp-for="Phone">Phone*</label>
            </div>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="row">

        <div class="col gap-3">
            <button type="submit" class="btn rounded-0 btn-primary bg-header text-white col-auto mb-2">Create
                User</button>
            <a asp-action="Add" class="btn rounded-0 border-primary text-primary col-auto mb-2">Clear</a>
        </div>

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {
            var city = $("#city");
            var state = $("#state");

            $("#country").change(function () {
                var id = $(this).val();
                var v = "<option disabled selected>Please select one</option>";

                state.removeAttr("disabled");
                city.attr("disabled", "disabled");
                state.empty();
                city.empty();
                city.html(v);
                $.get("@Url.Action("StateBind", "Home")", { countryId: id }, function (data) {
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.value + ">" + v1.text + "</option>";
                    });
                    state.html(v);
                });

            });

            $("#state").change(function () {
                var id = $(this).val();
                var city = $("#city");
                var v = "<option disabled selected>Please select one</option>";

                city.empty();
                city.removeAttr("disabled");
                city.html(v);

                $.get("@Url.Action("CityBind", "Home")", { stateId: id }, function (data) {
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.value + ">" + v1.text + "</option>";
                    });
                    city.html(v);
                });

            });

            $(".eye").click(function (e) {
                $(this).parent().find(".eye").removeClass("d-none");
                $(this).addClass("d-none");
                var type;
                var input = $(this).parent().find('input');
                if (input.hasClass("on")) {
                    type = "password"
                    input.removeClass("on").addClass("off");
                } else {
                    type = "text"
                    input.removeClass("off").addClass("on");
                }
                input.attr('type', type);

            });
        });

    </script>
}